@import url("https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css");
@import url("./FontSize.css");


body {
    height: 100%;
    overflow-x: hidden;
}
.note-film{
    height: 6rem;
    overflow: hidden;
}

html {
    --bg-navbar: white;
    --bg-body: #f3f3f3;
    --bg-ItemNav: #f5f5f5;
    --color-navbar: currentcolor;
    --bg-input: #f5f5f5;
    --color-content: currentcolor;
    --color-tab-comment:#818181;
    --color-tab-comment-active: black;
}

.text-gray {
    color: #787878!important;
}

.bg-gray{
    background-color: #00000012!important;
}

.form-control.comment{
    height: 70px;
    padding-right: 4rem;
}

.send-comment{
    position: absolute;
    top: 18px;
    right: 9px;
}

html[mode=dark] {
    --bg-navbar: #171717;
    --bs-body-bg: #171717;
    --bg-body: #202020;
    --bg-ItemNav: #313131;
    --color-navbar: #bcbcbc;
    --bg-input: #292929;
    --color-card: #bcbcbc;
    --color-content: #bcbcbc;
    --bs-body-color-rgb: rgb(237, 237, 237);
    --color-tab-comment-active: #fff;
}
textarea::placeholder{
    color: #818181!important;
}
textarea::-webkit-scrollbar {
    display: none;
}
.content-film {
    height: 13rem;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 1s;
}

.content-film.show{
    overflow: auto;
}

.btn-blue {
    background-color: #0d6efd26 !important;
    color: #0d6efd!important;
    height: 2.2rem!important;
    border-radius: 5px!important;
}

.content-film2 p {
    margin-top: 0;
    margin-bottom: 5px;
}

.text-bg-orange.active{
    color: #ffffff !important;
    background-color: #ff4900 !important;
}

body {
    background-color: var(--bg-body);
}

.navbar {
    height: 4rem;
    color: var(--color-navbar);
    background-color: var(--bg-navbar);
}

.navbar .brand {
    display: flex;
    align-items: center;
}

.navbar .brand>.menu {
    font-size: 24px;
    color: #939393;
}

.text-bg-orange {
    color: #ff4900 !important;
    background-color: #ff490029 !important;
}

.text-bg-violet {
    color: #7e00ff !important;
    background-color: #9100ff21 !important;
}

.text-bg-blue {
    color: #1b5fff !important;
    background-color: #005aff29 !important;
}

.tab-comment{
    border: 0;
    background: none;
    font-weight: 500;
    color: var(--color-tab-comment);
}
.tab-comment.active{
    color: var(--color-tab-comment-active);
}

.tab-comment + .tab-comment{
    margin-left: .5rem;
}
.jwplayer .jw-rightclick .jw-rightclick-list .jw-rightclick-item .jw-rightclick-link{
    color: #fff !important;
}
.text-bg-secondary {
    color: #818181 !important;
    background-color: #5151511f !important;
}

.search_nav {
    display: flex;
    align-items: center;
    position: relative;
}

.toast-header{
    color: white;
}
.bg-none {
    background: none !important;
}
.toast-body {
    background-color: white;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}
.form-control {
    background-color: var(--bg-input) !important;
    border: none !important;
    outline: 0 !important;
    box-shadow: none !important;
    font-size: 14px;
    color: #7b7b7b !important;
}

a {
    color: currentcolor !important;
    text-decoration: none !important;
}

.card.card-body {
    color: var(--color-card) !important;
}

.search_nav>input {
    width: 22rem;
    border-radius: 28px;
    padding-left: 2.3rem;
    padding-right: 1rem;
}

.search_nav>input::placeholder {
    color: #bfbdbd !important;
}

.search_nav>button {
    position: absolute !important;
    left: 6px !important;
    color: #bfbdbd !important;
}

.user-header {
    display: flex;
    align-items: center;
    position: relative;
}

.user-header .noti-item {
    font-size: 17px;
    height: 32px;
    background-color: var(--bg-ItemNav);
    border-radius: 50%;
    width: 32px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.user-header .noti-item i>span {
    width: 7.3px;
    height: 7px;
    left: 12px;
    top: 2px;
    background-color: #ff6c13;
}

.user-header .mode-item {
    font-size: 17px;
    height: 32px;
    background-color: var(--bg-ItemNav);
    border-radius: 19px;
    width: auto;
    align-items: center;
    display: flex;
    position: relative;
}

.user-header .mode-item .r-mode {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: #0000;
    border-radius: 50%;
    width: 29px;
    height: 28px;
    color: currentcolor
}

.user-item>.avatar-user {
    position: relative;
}

.user-header .mode-item .r-mode.active {
    color: white;
}

.user-header .bg-mode {
    position: absolute;
    border-radius: 50%;
    width: 29px;
    height: 28px;
    background: #1b5fff;
    color: white;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    border: none;
}

.user-header .bg-mode[data=sun] {
    transform: translateX(-13%);
}

.user-header .bg-mode[data=moon] {
    transform: translateX(100%);
}

html{
    height: 100%;
}
html[mode="dark"] .user-item>.dropdown-user {
    background-color: var(--bg-navbar);
    box-shadow: 1px 1px 7px 0px #a5a5a50d;
}
.user-item>.dropdown-user {
    position: absolute;
    padding-top: 10px;
    background-color: white;
    width: 14rem;
    right: -5px;
    box-shadow: 1px 1px 7px 0px #0000002b;
    border-radius: 5px;
    top: 40px;
    z-index: 2;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    font-size: 15px;
    flex-direction: column;
}
.dropdown-link{
    padding: 8px;
    font-weight: 500;
}
.user-item>.avatar-user .notify-account {
    left: 27px;
    top: 5px;
    background-color: #00bc72;
}

.content {
    padding-top: 64px;
    color: var(--color-content);
    padding-bottom: 7rem;
}